<section class="theme">
  <div class="workspace">
    <div class="workspace__header">
      @if (isMenuOpen()) {
        <div class="workspace__overlay"></div>
      }
      <img
        src="/assets/img/logo/logo_w_text.svg"
        alt="Workspace Header"
        class="workspace__header-logo"
        [routerLink]="'/workspace'"
      />
      <label class="workspace__header-search">
        <input
          class="workspace__header-input"
          matInput
          type="search"
          placeholder="Devspace durchsuchen"
        />
        <mat-icon matPrefix class="workspace__header-icon material-symbols-outlined"
          >search</mat-icon
        >
      </label>
      <label
        class="workspace__header-loggedUser"
        (menuOpened)="isMenuOpen.set(true)"
        (menuClosed)="isMenuOpen.set(false)"
        [matMenuTriggerFor]="userMenu"
        type="button"
      >
        <span class="workspace__header-loggedUser-name">{{ userService.loggedUser()?.name }}</span>
        <div class="workspace__header-avatar-wrapper">
          <img
            [src]="userService.loggedUser()?.avatar"
            alt="Avatar"
            class="workspace__header-avatar"
          />
        </div>
        <mat-icon
          matPrefix
          class="workspace__header-icon material-symbols-outlined"
          [class.workspace__icon-rotate]="isMenuOpen()"
          >keyboard_arrow_down</mat-icon
        >
        <mat-menu #userMenu="matMenu" class="workspace__header-menu">
          <button mat-menu-item (click)="goToProfile()">Profile</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </label>
    </div>
    <div class="workspace__content">
      <button
        type="button"
        (click)="toggleSidebar()"
        class="btn btn--workspace"
        [class.btn--workspace-open]="sidebarOpen()"
      >
        <mat-icon
          fontSet="material-symbols-outlined"
          class="btn__icon btn__icon--workspace"
          [class.btn__icon--workspace-open]="sidebarOpen()"
          >left_panel_open</mat-icon
        >
        <p class="btn__text btn__text--workspace">
          {{ sidebarOpen() ? 'Workspace-Menu schliessen' : 'Workspace-Menu öffnen' }}
        </p>
      </button>
      <!-- LEFT -->
      <aside
        class="workspace__sidebar-left"
        [class.workspace__sidebar-left--open]="sidebarOpen()"
        [class.workspace__sidebar-left--closed]="!sidebarOpen()"
      >
        <app-sidebar></app-sidebar>
      </aside>
      <!-- MAIN -->
       @if(userService.loggedUser()) {
      <main class="workspace__main"> <div class="chat"> <router-outlet></router-outlet></div></main>}
      <!-- RIGHT -->
      @if (!threadOpen()) {
        <aside class="workspace__sidebar-right">Thread</aside>
      }
    </div>
  </div>
</section>
