// Background colors
$bg-white: #ffffff;
$bg-gray: #eceefe;

// Text colors
$text-white: #ffffff;
$text-blue: #535af1;
$text-black: #000000;
$text-gray: #686868;
$text-error: #ed1e79;

// Button colors
$btn-primary: #444df2;
$btn-primary-hover: #797ef3;
$btn-primary-active: #444df2;
$btn-primary-disabled: #686868;

$btn-secondary: #ffffff;
$btn-secondary-border: #797ef3;
$btn-secondary-hover: #535af1;
$btn-secondary-active: #444df2;
$btn-secondary-disabled: #ffffff;
$btn-secondary-disabled-border: #686868;

$btn-tertiary: transparent;
$btn-tertiary-hover: #eceefe;

// Chat background colors
$chat-bg-blue: #797ef3;
$chat-bg-gray: #eceefe;
$chat-hoover: #f0f1fe;