<section class="theme">
  <div class="container">
    @if (successMessage()) {
      <div class="login__success">Anmelden</div>
    }
    <div class="login">
      <div class="login__card">
        <div class="login__card-header">
          <h1 class="login__card-title">Anmeldung</h1>
          <p class="login__card-subtitle">
            Wir empfehlen Ihnen, die E-Mail-Adresse zu nutzen, die Sie bei der Arbeit verwenden
          </p>
        </div>
        <form [formGroup]="loginForm" class="login__card-form" (ngSubmit)="loginUser()">
          <div class="login__field">
            <div class="login__form-error">
              <label class="login__card-form-field">
                <mat-icon matPrefix class="login__icon material-symbols-outlined">mail</mat-icon>
                <input
                  class="login__input"
                  matInput
                  type="email"
                  placeholder="beispielname@email.com"
                  formControlName="email"
                />
              </label>
              @if (loginForm.get('email')?.touched && loginForm.get('email')?.invalid) {
                @if (loginForm.get('email')?.errors?.['required']) {
                  <div class="login__error-form login__error-form--email">Bitte geben Sie Ihre E-Mail-Adresse ein.</div>
                } @else if (loginForm.get('email')?.errors?.['email']) {
                  <div class="login__error-form login__error-form--email">
                    Bitte geben Sie eine gültige E-Mail-Adresse ein.
                  </div>
                }
              }
            </div>
            <div class="login__form-error">
              <label class="login__card-form-field">
                <mat-icon matPrefix class="login__icon material-symbols-outlined">lock</mat-icon>
                <input
                  class="login__input"
                  matInput
                  type="password"
                  placeholder="Passwort"
                  formControlName="password"
                />
              </label>
            </div>
            @if (errorMessage()) {
              <div class="login__error-message">
                {{ errorMessage() }}
              </div>
            }
          </div>
          <button type="button" class="btn btn--link" routerLink="/send-email">
            Passwort vergessen?
          </button>
          <div class="login__divider">
            <span>ODER</span>
          </div>
          <button type="button" class="btn btn--google" (click)="googleLogin()">
            <img class="btn__icon" src="/assets/img/google.svg" alt="Google Icon" />
            <p class="btn__text">Anmelden mit Google</p>
          </button>
          <div class="login__buttons">
            <button type="submit" class="btn btn--primary">Anmelden</button>
            <button type="button" class="btn btn--secondary">Gäste-Login</button>
          </div>
        </form>
      </div>
      <div class="login__legal-buttons">
        <button type="button" class="btn btn--tertiary">Impressum</button>
        <button type="button" class="btn btn--tertiary">Datenschutz</button>
      </div>
    </div>
  </div>
</section>
