@use '../abstracts/variables' as v;

.message {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: 5px;
  padding-left: 15px;
  gap: 8px;
  &:hover {
    background: v.$btn-tertiary-hover;
    .message__footer-emoji {
      background: v.$text-white;
    }
  }
  &:hover:not(.message--own) {
    .message__text {
      background: white;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  &--own {
    .message__wrapper {
      flex-direction: row-reverse;
      padding-left: 0;
      padding-right: 15px;
    }
    .message__text {
      background: v.$chat-bg-blue;
      color: white;
      border-radius: 20px 0 20px 20px;
    }
    .message__mention {
      color: white;
    }
    .message__header {
      justify-content: flex-end;
    }
    .message__reaction-button {
      display: none;
    }

    .message__footer {
      justify-content: flex-end;
      padding-right: 30px;
    }
  }

  &__avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 70%;
  }

  &__text {
    background: v.$chat-bg-gray;
    padding: 12px 16px;
    border-radius: 0px 20px 20px 20px;
    font-size: 16px;
  }

  &__mention {
    color: v.$text-blue;
    margin-inline: 5px;
    font-weight: 500;
    &:hover {
      cursor: pointer;
      color: v.$text-blue-dark;
    }
  }

  &__emoji {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    margin-inline: 5px;
  }

  &__emoji-list {
    position: absolute;
    top: 45px;
    left: 20px;
    display: flex;
    gap: 8px;
    background: v.$bg-white;
    padding: 10px;
    border: 1px solid #adb0d9;
    border-radius: 0px 15px 15px 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    z-index: 10;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 14px;
  }

  &__timestamp {
    color: v.$text-gray;
  }
  &__sender {
    color: v.$text-black;
    font-weight: 600;
  }

  &__footer {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__footer-emoji {
    background: transparent;
    border-radius: 50%;
  }

  &__reactions {
    display: flex;
    gap: 4px;
    margin-top: 4px;
  }
}
