<section class="theme">
  <div class="container">
    @if (successMessage()) {
      <div class="new-password__success">Passwort erfolgreich geändert</div>
    }
    <div class="new-password">
      <div class="new-password__card">
        <div class="new-password__card-header">
          <h1 class="new-password__card-title">Passwort zurücksetzen</h1>
        </div>
        <form [formGroup]="resetPasswordForm" class="new-password__card-form" (ngSubmit)="resetPassword()">
          <div class="register__field">
            <label class="new-password__card-form-field">
              <mat-icon matPrefix class="new-password__icon material-symbols-outlined"
                >lock</mat-icon
              >
              <input
                class="new-password__input"
                matInput
                type="password"
                placeholder="Neues Passwort"
                formControlName="password"
              />
            </label>
            @if (
              resetPasswordForm.get('password')?.touched &&
              resetPasswordForm.get('password')?.invalid &&
              resetPasswordForm.get('password')?.dirty
            ) {
              @if (resetPasswordForm.get('password')?.errors?.['required']) {
                <div class="register__error-message">Bitte geben Sie ein Passwort ein.</div>
              } @else if (resetPasswordForm.get('password')?.errors?.['minlength']) {
                <div class="register__error-message">
                  Das Passwort muss mindestens 6 Zeichen lang sein.
                </div>
              }
            }
          </div>
          <div class="register__field">
            <label class="new-password__card-form-field">
              <mat-icon matPrefix class="new-password__icon material-symbols-outlined"
                >lock</mat-icon
              >
              <input
                class="new-password__input"
                matInput
                type="password"
                placeholder="Neues Passwort bestätigen"
                formControlName="confirmPassword"
              />
            </label>
            @if (!passwordsMatch() && resetPasswordForm.get('confirmPassword')?.touched) {
              <div class="register__error-message">Die Passwörter stimmen nicht überein.</div>
            }
          </div>
          <button
            class="btn btn--primary"
            type="submit"
            [disabled]="resetPasswordForm.invalid || !passwordsMatch()"
          >
            Passwort ändern
          </button>
        </form>
      </div>
      <div class="new-password__legal-buttons">
        <button type="button" class="btn btn--tertiary">Impressum</button>
        <button type="button" class="btn btn--tertiary">Datenschutz</button>
      </div>
    </div>
  </div>
</section>
