@if (isWelcome) {
  <div class="chat__content chat__content--welcome">
    <h1 class="chat__title chat__title--welcome">Willkommen bei Devspace</h1>
    <p class="chat__welcome-message">
      Schön, dass du da bist,
      <span>{{ loggedUser?.name }}</span> 👋
    </p>
    <p class="chat__welcome-message">Wähle einen Channel oder starte eine Direktnachricht.</p>
  </div>
} @else if (isDirectChat) {
  @if (messagesService.messages().length === 0) {
    <div class="chat__content chat__content--no-messages">
      <button class="btn btn--user-content" (click)="goToProfile()">
        <div
          class="users__avatar-wrapper-content"
          [class.users__avatar-wrapper-content--offline]="user?.status !== 'online'"
        >
          <img
            class="btn__icon btn__icon--user-content"
            [src]="user?.avatar"
            alt="{{ user?.name }}"
          />
        </div>
        <div class="btn__text btn__text--user-content">
          {{ user?.name }}
        </div>
        @if (user?.email === userService.loggedUser()?.email) {
          <span class="users__sufix users__sufix--user-content">(Du)</span>
        }
      </button>
      @if (user?.email === userService.loggedUser()?.email) {
        <span class="chat__info"
          ><span class="chat__info-highlight">Dieser Raum ist nur für dich da.</span> Mache dir
          Notizen, liste deine To-dos oder bewahre Links und Dateien griffbereit auf. Du kannst hier
          auch gerne Dinge mit dir selbst besprechen.</span
        >
      } @else {
        <span class="chat__info">
          Diese Unterhaltung findet nur zwischen
          <span (click)="goToProfile()" class="chat__info-highlight chat__info-highlight--user"
            >@{{ user?.name }}</span
          >
          und dir statt.
        </span>
      }
    </div>
  } @else {
    <div class="chat__content">
      @for (message of messagesService.messages(); track message.id; let i = $index) {
        @if (shouldShowDateSeparator(i)) {
          <div class="chat__separator">
            <span class="chat__separator-text">
              {{ message.createdAt | date: 'EEEE, d. MMMM' }}
            </span>
          </div>
        }
        <app-chat-message [message]="message"></app-chat-message>
      }
    </div>
  }
}
