<div class="message" [class.message--own]="isOwnMessage()">
  <div class="message__wrapper">
    <div class="message__avatar-wrapper">
      <img class="message__avatar" [src]="getSender()?.avatar" alt="{{ getSender()?.name }}" />
    </div>
    <div class="message__content">
      @if (isOwnMessage() && isDirectMessage) {
        <div class="message__actions">
          <button class="btn btn--message-menu" (click)="toggleMessageMenu()">
            <span class="material-symbols-outlined"> more_vert </span>
          </button>
          @if (showMessageMenu()) {
            <div class="message__menu">
              <button class="btn btn--menu-item" (click)="editMessage()">
                <span class="material-symbols-outlined"> edit </span>
              </button>
            </div>
          }
        </div>
      }
      <div class="message__header">
        <span class="message__timestamp">{{ message.createdAt | date: 'HH:mm' }} Uhr</span>
        @if (message.edited) {
          <span class="message__edited">(edited)</span>
        }
        <span class="message__sender">{{ getSender()?.name }}</span>
      </div>
      @if (!isEditing()) {
        <div class="message__text" [innerHTML]="parseMessage()"></div>
      } @else {
        <div class="message__edit">
          <textarea
            class="message__edit-input"
            [value]="editedMessage()"
            (input)="editedMessage.set($any($event.target).value)"
          >
          </textarea>

          <div class="message__edit-actions">
            <button class="btn btn--secondary" (click)="isEditing.set(false)">Cancel</button>

            <button class="btn btn--primary" (click)="saveEdit()">Save</button>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="message__footer">
    <div class="message__reaction-button">
      <button class="btn btn--chat-action material-symbols-outlined" (click)="toggleEmojiPicker()">
        <span class="material-symbols-outlined"> add_reaction </span>
      </button>
    </div>
    <div class="message__reactions">
      @for (reaction of message.reactions; track reaction.emoji) {
        <div class="message__footer-emoji">
          <button class="btn btn--reaction">
            <img [src]="getReactionIcon(reaction.emoji)" class="message__emoji" />
            <span class="message__reaction-count">{{ reaction.userIds.length }}</span>
          </button>
          @for (userId of reaction.userIds; track userId) {
            <div class="message__reaction-user">
              <span class="message__reaction-user-name">{{ getReactionName(userId) }}</span>
            </div>
          }
        </div>
      }
    </div>
    @if (showEmojis()) {
      <div class="message__emoji-list">
        @for (emoji of emojis; track emoji) {
          <button class="btn btn--emoji" (click)="addReaction(emoji.value)">
            <img [src]="emoji.icon" alt="emoji" class="btn__icon btn__icon--emoji" />
          </button>
        }
      </div>
    }
  </div>
</div>
