@use '../abstracts/variables' as v;

.users {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__label {
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover {
      color: v.$text-blue-dark;
      cursor: pointer;
    }
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__list {
    display: flex;
    flex-direction: column;
  }

  &__avatar-wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 8px;
      bottom: 8px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #92c83e;
      border: 1px solid white;
    }
    &--offline::after {
      background-color: gray;
    }
  }

  &__sufix{
    margin-left: 5px;
  }
}
