@use '../abstracts/variables' as v;

.workspace {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  &__header-loggedUser {
    display: flex;
    align-items: center;
    gap: 10px;
    &:hover,
    &:hover .workspace__header-icon {
      cursor: pointer;
      color: v.$text-blue;
    }
  }
  &__header-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  &__header-loggedUser-name {
    font-size: 20px;
    font-weight: 500;
  }
  &__header-logo {
    width: 200px;
    height: 60px;
  }

  &__header-avatar-wrapper {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 2px;
      bottom: 5px;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: #92c83e;
      border: 1px solid white;
    }
  }

  &__header-search {
    flex: 1;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 15px 20px;
    border-radius: 30px;
    background-color: v.$bg-white;
    border: 1px solid transparent;

    &:hover {
      cursor: pointer;
      border: 1px solid v.$text-gray;
    }
    &:focus-within {
      border: 1px solid v.$text-gray;
    }
    &:focus-within .workspace__header-icon {
      color: v.$text-black;
    }
  }

  &__header-input {
    flex: 1;
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: v.$text-black;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
  &__header-icon {
    color: v.$text-gray;
  }

  &__icon-rotate {
    transform: rotate(180deg);
    transition: transform 0.2s ease;
  }

  &__overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
  }

  &__content {
    display: flex;
    width: 100%;
    padding-inline: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  &__sidebar-left,
  &__sidebar-right,
  &__main {
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    background-color: v.$bg-white;
    min-height: calc(100vh - 130px);
  }

  &__sidebar-left {
    transition: width 0.2s ease;
    margin-right: 15px;
    &--closed {
      width: 0;
      min-width: 0;
      padding: 0;
      margin-right: 0;
      overflow: hidden;
    }
    &--open {
      width: 300px;
    }
  }
  &__main {
    flex: 1;
  }
  &__sidebar-right {
    width: 350px;
    margin-left: 15px;
  }
}

.cdk-overlay-pane {
  position: absolute !important;
  right: 20px !important;
  top: 10px !important;
}

.mat-mdc-menu-panel {
  border-radius: 15px 0 15px 15px !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1) !important;
  width: 200px !important;
  height: auto !important;
}

.mat-mdc-menu-content .mat-mdc-menu-item .mat-mdc-menu-item-text {
  display: flex !important;
  justify-content: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.mat-mdc-menu-item {
  background-color: transparent !important;
}

.mat-mdc-menu-item-text {
  &:hover {
    padding: 10px 20px !important;
    color: v.$text-blue-dark !important;
    border-radius: 15px !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
}
